#foreach ($element in $info.flows)
      #foreach ($p in   $element.protocols)
     
struct PacketIntMailRead {
          #foreach ($it in   $p.items)
    $it.type  $it.code  ;   //  $it.text
        #end
        void Decode ( base::gateway::PacketIn& pktin ){
            #foreach ($it in   $p.items)
            this-> $it.code = pktin.$it.readFunc ();
           #end
        }
}
    #end
       $velocityCount 
#end